<div class="cookie-consent-banner" id="cookiesBanner">
  <div class="cookie-consent-banner__inner">
    <div class="cookie-consent-banner__copy">
      <div class="cookie-consent-banner__header">ESTE SITIO WEB UTILIZA COOKIES</div>
      <div class="cookie-consent-banner__description">Utilizamos cookies para personalizar el contenido y los anuncios,
        ofrecer funciones de redes sociales y analizar nuestro tráfico. También compartimos información sobre el uso que usted hace de nuestro sitio
        con nuestros socios de medios sociales, publicidad y análisis, que pueden combinarla con otra información que
        usted les haya proporcionado.
        sociales, publicitarios y analíticos, que pueden combinarla con otra información que usted les haya
        proporcionado o que hayan recopilado de su uso de sus servicios.
        o que hayan recopilado a partir del uso que usted haga de sus servicios. Usted acepta nuestras cookies si
        continúa utilizando nuestro
        sitio web.</div>
    </div>

    <div class="cookie-consent-banner__actions">
      <a (click)="closeModal()" class="cookie-consent-banner__cta">
        OK
      </a>
      <a (click)="closeModal()" class="cookie-consent-banner__cta cookie-consent-banner__cta--secondary">
        Declinar
      </a>
    </div>
  </div>
</div>
