<div class="overflow-hidden" *ngIf="user">
  <div class="px-4 pt-0 pb-4 cover" id="cabeceraUsuario">
    <div class="media align-items-end profile-head">
      <div class="profile mr-3 contenedorImagen"><img src="{{user.avatar}}" alt="Nombre usuario" width="130"
          class="rounded mb-2 imagen">
      </div>
      <div class="mb-5 text-white">
        <h2 class="mt-0 mb-0 nombreUsuario">@{{user.name}}</h2>
        <small class="role">(Rol: {{user.role}})</small>
        <div *ngIf="isMe" class="buttonsContainer">
          <!-- Editar perfil modal -->
          <button type="button" class="button" data-bs-backdrop="false" data-bs-toggle="modal"
            data-bs-target="#editProfile">
            Editar perfil
          </button>

          <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true"
            data-bs-backdrop="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editProfileLabel">Editar perfil:</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="h-100" method="PUT" role="form" (ngSubmit)="saveUser()" [formGroup]="userForm"
                    aria-label="">
                    <div class="form-outline mb-4">
                      <div class="form-outline">
                        <input type="text" class="form-control form-control-m" placeholder="Usuario"
                          [ngClass]="validClasses(nameControl)" formControlName="name" required />
                        <div class="invalid-feedback" *ngIf="nameControl.errors?.['required']">
                          El usuario es necesario.
                        </div>
                      </div>
                    </div>


                    <div class="form-outline mb-4">
                      <input type="text" class="form-control form-control-m" placeholder="email@gmail.com"
                        [ngClass]="validClasses(emailControl)" formControlName="email" required />
                      <div class="invalid-feedback" *ngIf="emailControl.errors?.['required']">
                        El email es necesario
                      </div>
                      <div class="invalid-feedback" *ngIf="emailControl.errors?.['email']">
                        El email tiene que tener el siguiente formato: usuario@mail.com
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="button" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" class="button">Guardar cambios</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin modal -->


          <!-- Editar avatar modal -->
          <button type="button" class="button" data-bs-backdrop="false" data-bs-toggle="modal"
            data-bs-target="#editAvatar">
            Editar avatar
          </button>

          <div class="modal fade" id="editAvatar" tabindex="-1" aria-labelledby="editAvatarLabel" aria-hidden="true"
            data-bs-backdrop="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editAvatarLabel">Editar perfil:</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="h-100" method="PUT" role="form" (ngSubmit)="saveAvatar()" [formGroup]="userForm"
                    aria-label="">
                    <div class="form-outline mb-4">
                      <div class="form-outline">
                        <input type="file" class="form-control" id="avatar" name="avatar" formControlName="avatar"
                          required data-bs-toggle="modal" data-bs-target="#exampleModal"
                          (change)="fileChangeEvent($event)" formControlName="avatar" />
                      </div>
                    </div>

                    <div class="form-outline">
                      <img [src]="newAvatar" class="mb-1 previewAvatar" *ngIf="!(newAvatar ==='')?'d-none':''"
                        alt="avatar">
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="button" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" class="button">Guardar cambios</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin modal -->

          <!-- Editar conytraseña modal -->
          <button type="button" class="button editPassButton" data-bs-backdrop="false" data-bs-toggle="modal"
            data-bs-target="#editPass">
            Editar contraseña
          </button>

          <div class="modal fade" id="editPass" tabindex="-1" aria-labelledby="editPassLabel" aria-hidden="true"
            data-bs-backdrop="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editPassLabel">Editar contraseña:</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="h-100" method="PUT" role="form" (ngSubmit)="savePassword()" [formGroup]="passForm"
                    aria-label="">
                    <div class="mb-3">
                      <input type="password" class="form-control" id="password" name="password"
                        placeholder="Contraseña:" name="password" formControlName="password"
                        [ngClass]="validClasses(passwordControl)" required />

                      <div class="invalid-feedback" *ngIf="passwordControl.errors?.['pattern']">
                        La contraseña tiene que tener almenos 8 caracteres y caracteres especiales como: ! @ # $ % & / (
                        ) =
                        + ? [ ] ~ – . ^
                      </div>
                      <div class="invalid-feedback" *ngIf="passwordControl.errors?.['required']">
                        Password is required
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" class="form-control" id="password2" name="password2"
                        placeholder="Repita contraseña:" name="password2" formControlName="password2"
                        [ngClass]="validClasses(password2Control)" required />

                      <div class="invalid-feedback" *ngIf="password2Control.errors">
                        Las contraseñas no son iguales:
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="button" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" class="button">Guardar cambios</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="buttonsContainer">
          <button type="button" *ngIf="haveRoleToAddComic && isMe" class="button newComicButton" (click)="goToAddComic()">
            Añadir comic nuevo
          </button>
          <button *ngIf="canDelete()" type="button" class="button buttonDelete" (click)="deleteUser()">
            Borrar usuario
          </button>
          <button *ngIf="userWatching.role === 'admin' && user.role !== 'admin'" type="button"
            class="button buttonPromove" (click)="promoveToAdmin()">
            Promover a admin
          </button>
          <button *ngIf="userWatching.role === 'admin' && user.role === 'admin'" type="button"
            class="button buttonPromove" (click)="removeAdmin()">
            Quitar rol admin
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="divComicsProfile">
    <!-- Ultimo comic leido -->
    <div class="py-4 px-4" id="lastComicRead" *ngIf="lastComic">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h3 class="mb-0">Seguir leyendo:</h3>
      </div>
      <div class="content">
        <ml-comic-card [comic]="lastComic"></ml-comic-card>
      </div>
    </div>
    <!-- /Ultimo comic leido -->

    <!-- Comics favoritos -->
    <div class="py-4 px-4" id="comicsFavorites">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h3 class="mb-0">Comics favoritos:</h3>
      </div>
      <div class="content">
        <div *ngFor="let comic of comics">
          <ml-comic-card [comic]="comic"></ml-comic-card>
        </div>
      </div>
    </div>
    <!-- /Comics favoritos -->
  </div>

  <!-- POPUP PARA EL AVATAR CROPPER -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content rounded">

        <div class="modal-body">

          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
            [roundCropper]=true format="png" (imageCropped)="imageCropped($event)"></image-cropper>

        </div>

        <div class="modal-footer">
          <button type=" button" class="btn btn-block btn-lg" style="
                  color: white;
                  background-color: #060d17;
                  border-radius: 30px;
                  border: 0;
                  width: 48%;
                " data-bs-dismiss="modal">
            Cerrar
          </button>
          <button type="button" class="btn btn-block btn-lg" style="
                  color: white;
                  background-color: #a309cd;
                  border-radius: 30px;
                  border: 0;
                  width: 48%;
                " data-bs-dismiss="modal" (click)="saveImage()">
            Guardar imagen
          </button>
        </div>
      </div>
    </div>
  </div>
