<div id="generic_price_table">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="generic_content clearfix">
            <div class="generic_head_price clearfix">
              <div class="generic_head_content clearfix">
                <div class="head_bg"></div>
                <div class="head">
                  <span>Basico</span>
                </div>
              </div>
              <div class="generic_price_tag clearfix">
                <span class="price">
                  <span class="currency">9</span>
                  <span class="cent">.99</span>
                  <span class="sign">€</span>
                  <span class="month">/Mes</span>
                </span>
              </div>
            </div>
            <div class="generic_feature_list">
              <ul>
                <li><span></span>Acceso limitado</li>
                <li><span>1</span> Usuario activo</li>
                <li><span>24/7</span> Soporte</li>
              </ul>
            </div>
            <div class="generic_price_btn clearfix">
              <a [routerLink]="['/subscriptions/cart']" [queryParams]="{id: 1}">Subscribirse</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="generic_content active clearfix">
            <div class="generic_head_price clearfix">
              <div class="generic_head_content clearfix">
                <div class="head_bg"></div>
                <div class="head">
                  <span>Estándar</span>
                </div>
              </div>
              <div class="generic_price_tag clearfix">
                <span class="price">
                  <span class="currency">14</span>
                  <span class="cent">.99</span>
                  <span class="sign">€</span>
                  <span class="month">/Mes</span>
                </span>
              </div>
            </div>
            <div class="generic_feature_list">
              <ul>
                <li><span></span>Acceso limitado</li>
                <li><span>2</span> Usuarios activos</li>
                <li><span>24/7</span> Soporte</li>
              </ul>
            </div>
            <div class="generic_price_btn clearfix">
              <a [routerLink]="['/subscriptions/cart']" [queryParams]="{id: 2}">Subscribirse</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="generic_content clearfix">
            <div class="generic_head_price clearfix">
              <div class="generic_head_content clearfix">
                <div class="head_bg"></div>
                <div class="head">
                  <span>Premium</span>
                </div>
              </div>
              <div class="generic_price_tag clearfix">
                <span class="price">
                  <span class="currency">19</span>
                  <span class="cent">.99</span>
                  <span class="sign">€</span>
                  <span class="month">/Mes</span>
                </span>
              </div>
            </div>
            <div class="generic_feature_list">
              <ul>
                <li><span></span>Acceso ilimitado</li>
                <li><span>4</span> Usuarios activos</li>
                <li><span>24/7</span> Soporte</li>
              </ul>
            </div>
            <div class="generic_price_btn clearfix">
              <a [routerLink]="['/subscriptions/cart']" [queryParams]="{id: 3}">Subscribirse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
