<main class="mainDescription" *ngIf="comic">
  <!-- Contenedor izquierda -->
  <div class="descriptionLeft">
    <!-- Imagen -->
    <div class="descriptionImage" style="background-image: url({{comic.main_picture.medium}});">
      <div class="descriptionScore">{{comic.mean}}</div>
    </div>
    <!-- /Imagen -->
  </div>
  <!-- /Contenedor izquierda -->
  <!-- Contenedor derecha -->
  <div class="descriptionRight">
    <div>
      <!-- Nombre -->
      <h1 class="descriptionName">{{comic.title}}</h1>
      <!-- /Nombre -->
      <!-- Descripcion -->
      <p>
        {{comic.synopsis}}
      </p>
      <!-- /Descripcion -->
    </div>
    <!-- Datos -->
    <div>
      <table class="descriptionTable">
        <tr>
          <td class="titleCategory">Categoría:</td>
          <td class="contentTable">
            <a class="linkTable" *ngFor="let genre of translatedGenres; let last = last" (click)="busquedaFiltro(genre.value)">
              {{ genre.name }}<span *ngIf="!last">,</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="descriptionSeparation">Capitulos:</td>
          <td class="contentTable descriptionSeparation">{{comic.num_volumes}}</td>
        </tr>
        <tr>
          <td class="descriptionSeparation">Año de serialización:</td>
          <td class="contentTable descriptionSeparation">{{comic.start_date}}</td>
        </tr>
      </table>
    </div>
    <!-- /Datos -->
    <!-- Botones -->
    <div *ngIf="user" class="descriptionButtons">
      <a class="descriptionButtonBasket favButton" [ngStyle]="{'font-size': haveRoleToEditComic ? 'small' : 'medium'}"
        (click)="addToFavorites()" *ngIf="!inFav">Añadir a favoritos</a>
      <a class="descriptionButtonBasket favButton" [ngStyle]="{'font-size': haveRoleToEditComic ? 'small' : 'medium'}"
        (click)="deleteFronFavorites()" *ngIf="inFav">Quitar de favoritos</a>
      <a class="descriptionButtonBasket" [ngStyle]="{'font-size': haveRoleToEditComic ? 'small' : 'medium'}"
        (click)="savelastComicRead()">Leer capitulos</a>
      <a *ngIf="haveRoleToEditComic" [ngStyle]="{'font-size': haveRoleToEditComic ? 'small' : 'medium'}"
        class="descriptionButtonBasket newComicButton" (click)="goToEditComic()">
        Editar comic
      </a>
      <a *ngIf="haveRoleToEditComic && comic._id" [ngStyle]="{'font-size': haveRoleToEditComic ? 'small' : 'medium'}"
        class="descriptionButtonBasket newComicButton" (click)="deleteComic()">
        Borrar comic
      </a>
    </div>
    <!-- /Botones -->
  </div>
  <!-- /Contenedor derecha -->
</main>

<!-- Comentarios -->
<section class="commentsDetailsContainer">
  <ml-comments *ngIf="comic" [comicId]="comicId" [comment]="comment"></ml-comments>
  <ml-create-comment *ngIf="user && comicId" [user]="user" [comicId]="comicId"
    (comentary)="addComment($event)"></ml-create-comment>
</section>
<!-- /Comentarios -->
