<div *ngIf="isMobile" id="modal">
  <div class="blog-card spring-fever">
    <div class="title-content">
      <h3><a href="#">MangList en PlayStore</a></h3>
      <div class="linksContainer">
        <div class="intro"> <a href="#"><img src="assets/Iconos/playstore.svg" style="width: 20%;"
              alt="PlayStore"></a></div>
        <i class="fa-solid fa-xmark" (click)="closeModal()"
          style="color: #ffffff; margin-bottom: 0; margin-right: 19%;"></i>
      </div>
    </div>
    <div class="card-info">
      Desde hoy puedes utilizar MangList desde tu dispositivo Android, descargalo desde PlayStore.
      <a href="https://play.google.com/store/apps/details?id=io.ionic.manglist">PlayStore<span class="licon icon-arr icon-black"></span></a>
      <a (click)="closeModal()">Cerrar<span class="licon icon-arr icon-black"></span></a>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->
</div>
