<main id="mainAboutUs">
  <!-- Contenedor izquierda -->
  <div id="aboutWeLeft">
    <div>
      <h1>Un objetivo sencillo</h1>
      <h1>Simplificar la lectura de comics.</h1>
      <p>
        Leer comics actualmente es una de las modas más comunes en los
        jóvenes y no tan jóvenes. Leer manga puede ser muy tedioso, ya
        que vienen de Japón y no siempre hay stock en tiendas físicas.
        Nuestro objetivo es poder llegar a esas personas que se han quedado
        sin stock de su manga favorito o que simplemente quieren leer
        una saga que no se distribuye en España. Como apasionado de este
        mundo sé lo que significa querer leer una saga y no poder, por lo
        tanto, hemos abierto este servicio online con el objetivo de poder cumplir
        esos deseos y de promover el mundo del manga, el cual es
        apasionante.
      </p>
    </div>
    <!-- Datos empresa -->
    <address>
      <ul>
        <li>Vendedor</li>
        <li>MangList España S.A.U.</li>
        <li>Avda. María Zambrano 31, Edificio WTC Torre Este 6ª planta</li>
        <li>50018, Alicante</li>
        <li>Registro Mercantil de Alicante: A/28-788.909</li>
        <li>Número de IVA español: ESA28788909</li>
        <li>Inscrita en el Registro</li>
        <li>Mercantil de Alicante.</li>
        <li>Tomo 1.021.</li>
        <li>Libro 617 de la Sección 3ªde Sociedades.</li>
        <li>Folio 107. Hoja 10.921.</li>
        <li>Inscripción 1ª</li>
      </ul>
    </address>
    <!-- /Datos empresa -->
  </div>
  <!-- /Contenedor izquierda -->
  <!-- Contenedor derecha -->
  <div id="aboutWeRight">
    <img src="assets/utiles/Guts.png" alt="Guts - Berserk" />
    <cite>
      ÁNDRES MAURICIO Y NÉSTOR ESPUCH <br />
      <small>Pd: Guts - Berserk (personaje favorito).</small>
    </cite>
  </div>
  <!-- /Contenedor derecha -->
</main>
<!-- /Contendor principal -->
<details>
  <summary>
    <div class="buttonModal">
      Registrate a nuestro newsletter
    </div>
    <div class="detailsModalOverlay"></div>
  </summary>
  <div class="detailsModal">
    <div class="detailsModalClosed">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z"
          fill="black" />
      </svg>
    </div>
    <div class="detailsModalTitle">
      <h1>Suscribete a nuestro newsletter</h1>
      <p>¡Obtendrás ofertas y noticias sobre nuestras nuevas!</p>
    </div>
    <div class="detailsModalContent">
      <form method="POST" role="form" (ngSubmit)="addToNewsletter()" [formGroup]="newsletterForm">
        <input type="email" name="emailModal" id="emailModal" formControlName="email"
          [ngClass]="validClasses(emailControl)" placeholder="email@gmail.com">
        <div class="invalid-feedback" *ngIf="emailControl.errors?.['required']">
          El email es necesario.
        </div>
        <div class="invalid-feedback" *ngIf="emailControl.errors?.['email']">
          El email no es correcto.
        </div>
        <button type="submit" [disabled]="newsletterForm.invalid">Subscribirse</button>
      </form>
    </div>
  </div>
</details>
