<!-- Contendor principal -->
<main>
  <!-- Div Filtro -->
  <div class="categoryFilter">

    <!-- Filtro Categoria -->
    <form [formGroup]="filterAll">

      <label>
        <select id="genres" formControlName="genres" class="categorySelect">
          <option name="genres" selected>Genero:</option>
          <ng-container *ngFor="let g of genres">
            <option [ngValue]="g">{{ g.name }}</option>
          </ng-container>
        </select>
      </label>
      |
      <label>
        <select id="startDate" formControlName="startDate" class="categorySelect">
          <option name="startDate" selected>Año:</option>
          <ng-container *ngFor="let g of startDate">
            <option [ngValue]="g">{{ g.name }}</option>
          </ng-container>
        </select>
      </label>
      |
      <label>
        <select id="status" formControlName="status" class="categorySelect">
          <option name="status" selected>Estado:</option>
          <ng-container *ngFor="let g of status">
            <option [ngValue]="g">{{ g.name }}</option>
          </ng-container>
        </select>
      </label>
      |
      <label>
        <select id="order" formControlName="order" class="categorySelect">
          <option name="order" selected>Orden:</option>
          <ng-container *ngFor="let g of order">
            <option [ngValue]="g">{{ g.name }}</option>
          </ng-container>
        </select>
      </label>
    </form>
  </div>
  <!-- /Div Filtro -->

  <div id="content">
    <div
      *ngFor="let comic of comics | comicsFilterCategory: filterAll.value.genres.value:filterAll.value.status.value:filterAll.value.startDate.value:filterAll.value.order.value">
      <ml-comic-card [comic]="comic.node"></ml-comic-card>
    </div>
  </div>

</main>
<ml-slide-button></ml-slide-button>
<!-- /Contendor principal -->
