  <ul class="list-group mt-4 mb-4" id="comments">
    <li class="list-group-item active comentsTitle">
      <h2 id="titleComents">Comentarios:</h2>
    </li>
    <li *ngIf="comments && comments.length === 0" class="list-group-item d-flex flex-row commentsContainer"> Este comic aún no tiene comentarios. ¡Se el primero en comentar! </li>
    <li *ngFor="let comment of comments" class="list-group-item d-flex flex-row commentsContainer">
      <div>
        <a [routerLink]="['/users', comment.user._id]">
          <img class="rounded-circle me-3" style="width: 40px" src="{{ comment.user!.avatar }}" alt="{{ comment.user!.avatar }}" />
        </a>
      </div>
      <div>
        <div>
          <strong>
            {{ comment.user!.name }}:
          </strong><br>
          {{ comment.text }} <small class="commentDate">{{ comment.date }}</small>
        </div>
        <div>
          <ml-star-rating [rating]="comment.stars" [edit]="false"></ml-star-rating>
        </div>
      </div>
    </li>
  </ul>
