<div>
  <form id="contact-stack-form" class="form" novalidate [formGroup]="contactForm" (ngSubmit)="sendMail()">
    <div class="cube-1 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-2 w-100 cube">
      <div class="front">
        <label for="name" class="label">Nombre:</label>
      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-3 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-4 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-5 w-300 cube">
      <div class="front">
        <input type="text" name="name" id="name" formControlName="name" placeholder="Nombre ejemplo" class="field"
          [ngClass]="validClasses(nameControl, 'is-valid', 'is-invalid')">
        <div class="invalid-feedback" *ngIf="nameControl.errors?.['required']">
          El nombre es obligatorio.
        </div>
      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-6 w-180 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-7 w-120 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-8 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-9 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-10 w-100 cube">
      <div class="front">
        <label for="email" class="label">Email:</label>
      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-11 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-12 w-300 cube">
      <div class="front">
        <input type="email" name="email" id="email" formControlName="email" placeholder="ejemplo@gmail.com" class="field"
          [ngClass]="validClasses(emailControl, 'is-valid', 'is-invalid')">
        <div class="invalid-feedback" *ngIf="emailControl.errors?.['required']">
          El email es obligatorio.
        </div>
      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right">
      </div>
    </div>
    <div class="cube-13 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-14 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-15 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right">
      </div>
    </div>
    <div class="cube-16 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-17 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-18 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-19 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-20 w-100 cube">
      <div class="front">
        <label for="message" class="label">Mensaje:</label>
      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-21 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-22 w-300 cube">
      <div class="front">
        <textarea name="message" id="message" formControlName="message" placeholder="Esto es un mensaje de ejemplo..."
          class="field textarea" [ngClass]="validClasses(messageControl, 'is-valid', 'is-invalid')"></textarea>
        <div class="invalid-feedback" *ngIf="messageControl.errors?.['required']">
          El mensaje es obligatorio.
        </div>
      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-23 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-24 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-25 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-26 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-27 w-100 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-28 w-100 cube">
      <div class="front">
        <label for="gossip" class="label"></label>
      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-29 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-30 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-31 w-300 cube">
      <div class="front">

      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-32 w-300 cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="cube-33 w-300 cube">
      <div class="front">
        <button id="contact-stack-button" type="submit" class="button pulse" [disabled]="contactForm.invalid">Enviar</button>
      </div>
      <div class="back"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </form>

</div>
