<!-- Contendor principal -->
<form class="h-100 bg-dark" method="POST" role="form" (ngSubmit)="addComic()" [formGroup]="comicForm"
  enctype="multipart/form-data">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4" style="
                border: 0;
                box-shadow: 0px 0px 25px 8px rgba(35, 40, 46, 1);
                border-radius: 10px;
              ">
          <div class="row g-0 containerForm">
            <div class="col-xl-6 d-none d-xl-block imgContainer">
              <img *ngIf="!newComic.main_picture.medium" src="assets/utiles/portada_registro_ejemplo.jpg" alt="Portada"
                class="img-fluid mt-5 imgExample" />
              <img *ngIf="newComic.main_picture.medium" src="{{newComic.main_picture.medium}}" alt="Portada"
                class="img-fluid mt-5" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase" style="
                        color: #a309cd;
                        font-size: 2.4em;
                        font-weight: bold;
                        text-align: center;
                      ">
                  Registro nuevo Comic
                </h3>

                <div class="mb-3">
                  <label class="form-label ms-1">Titulo: </label>
                  <input type="text" class="form-control form-control-m" placeholder="Berserk: the best"
                    [ngClass]="validClasses(titleControl)" formControlName="title" required />
                  <div class="invalid-feedback" *ngIf="titleControl.errors?.['required']">
                    El titulo es necesario.
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label ms-1">Synopsis: </label>
                  <textarea name="textarea" [ngClass]="validClasses(synopsisControl)"
                    class="form-control form-control-m" placeholder="..." formControlName="synopsis"
                    required></textarea>
                  <div class="invalid-feedback" *ngIf="synopsisControl.errors?.['required']">
                    La synopsis es necesaria.
                  </div>
                </div>

                <div class="mb-3">
                  <label for="start_date">Fecha de inicio:</label>
                  <input type="date" class="form-control" id="start_date" name="start_date" placeholder="DD/MM/YYYY"
                    name="start_date" formControlName="start_date" [ngClass]="validClasses(start_dateControl)"
                    required />
                  <div class="invalid-feedback" *ngIf="start_dateControl.errors?.['required']">
                    La fecha de inicio es obligatoria.
                  </div>
                </div>

                <div class="mb-3">
                  <label for="statusControl">Estado:</label>
                  <select id="statusControl" name="statusControl" formControlName="status" class="form-control">
                    <option value="currently_publishing">En continuación</option>
                    <option value="finished">Finalizado</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="statusControl.errors?.['required']">
                    El estado es obligatorio.
                  </div>
                </div>

                <div class="mb-3">
                  <label for="mean">Puntuación:</label>
                  <input type="number" min="0" max="10" class="form-control" id="mean" name="mean" placeholder="8"
                    name="mean" formControlName="mean" [ngClass]="validClasses(meanControl)" required />
                  <div class="invalid-feedback" *ngIf="meanControl.errors?.['required']">
                    La puntiación es obligatoria.
                  </div>
                </div>

                <div class="mb-3">
                  <label for="num_volumes">Número volumenes:</label>
                  <input type="number" min="0" class="form-control" id="num_volumes" name="num_volumes"
                    placeholder="100" name="num_volumes" formControlName="num_volumes"
                    [ngClass]="validClasses(num_volumesControl)" required />
                  <div class="invalid-feedback" *ngIf="num_volumesControl.errors?.['required']">
                    El número de volumenes es obligatorio.
                  </div>
                </div>

                <div class="mb-3">
                  <label for="genres">Generos:</label>
                  <input type="text" class="form-control" id="genres" name="genres"
                    placeholder="Aventura, Sheinen, Terror, ..." name="genres" formControlName="genres"
                    [ngClass]="validClasses(genresControl)" required />
                  <div class="invalid-feedback" *ngIf="genresControl.errors?.['required']">
                    Los generos son obligatorios.
                  </div>
                </div>

                <div class="mb-3">
                  <label for="main_picture">Portada:</label>
                  <input accept="image/png,image/jpeg" type="file" class="form-control" id="main_picture" name="main_picture"
                    formControlName="main_picture" required data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (change)="fileChangeEvent($event)" formControlName="avatar" />
                  <div class="invalid-feedback" *ngIf="main_pictureControl.errors?.['required']">
                    La portada es obligatoria
                  </div>
                </div>

                <div class="d-flex justify-content-end pt-3 pulse">
                  <button type="reset" class="btn btn-light btn-m" style="
                          background-color: #060d17;
                          color: white;
                          font-weight: bold;
                          border-radius: 30px;
                          border: 0;
                          width: 50%;
                          -webkit-box-shadow: 0px 0px 25px 4px
                            rgba(6, 13, 23, 1);
                          -moz-box-shadow: 0px 0px 25px 4px rgba(6, 13, 23, 1);
                          box-shadow: 0px 0px 25px 4px rgba(6, 13, 23, 1);
                        " (click)="resetForm()">
                    Resetear
                  </button>
                  <button type="submit" class="btn btn-warning btn-m ms-2" style="
                          background-color: #a309cd;
                          color: white;
                          font-weight: bold;
                          border-radius: 30px;
                          border: 0;
                          width: 50%;
                          -webkit-box-shadow: 0px 0px 15px 4px
                            rgba(163, 9, 205, 1);
                          -moz-box-shadow: 0px 0px 15px 4px rgba(163, 9, 205, 1);
                          box-shadow: 0px 0px 15px 4px rgba(163, 9, 205, 1);
                        ">
                    Enviar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- /Contendor principal -->


<!-- POPUP PARA EL AVATAR CROPPER -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">

      <div class="modal-body">

        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 6" format="png" (imageCropped)="imageCropped($event)"></image-cropper>

      </div>

      <div class="modal-footer">
        <button type=" button" class="btn btn-block btn-lg" style="
                  color: white;
                  background-color: #060d17;
                  border-radius: 30px;
                  border: 0;
                  width: 48%;
                " data-bs-dismiss="modal" (click)="closeModal()">
          Cerrar
        </button>
        <button type="button" class="btn btn-block btn-lg" style="
                  color: white;
                  background-color: #a309cd;
                  border-radius: 30px;
                  border: 0;
                  width: 48%;
                " data-bs-dismiss="modal" (click)="saveImage()">
          Guardar imagen
        </button>
      </div>
    </div>
  </div>
</div>
