#commentForm {
  color: white;
}

.commentText {
  background-color: #23282e;
  color: white;
  border: 0;
  margin-bottom: 0.5em;
}

.sendCommentButton {
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: #a309cd;
  border: 0;
  box-shadow: 0 0 10px #a309cd;
  text-align: center;
  width: 20%;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;

  &:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
