form{
  label{
    color: white !important;
  }
}
.form-control {
  background-color: #060d17 !important;
  color: white !important;
}
.previewAvatar{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
image-cropper{
  max-height: 80%;
}

.container {
  background-color: #060d17 !important;
}

.containerForm{
  background-color: #23282E !important;
  border-radius: 10px;
}

.title{
  color: #a309cd;
  font-weight: bold;
  text-align: center;

  font-family: "Midorima_Font_Local";
  font-size: 4em;
}
