<!-- Contendor principal -->
<form class="h-100 bg-dark" method="POST" role="form" (ngSubmit)="addUser()" [formGroup]="userForm"
  enctype="multipart/form-data">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4" style="
                border: 0;
                box-shadow: 0px 0px 25px 8px rgba(35, 40, 46, 1);
                border-radius: 10px;
              ">
          <div class="row g-0 containerForm">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="assets/utiles/Guts.png" alt="Sample photo" class="img-fluid mt-5" style="
                      border-top-left-radius: 0.25rem;
                      border-bottom-left-radius: 0.25rem;
                      box-shadow: none;
                    " />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase title">
                  Registro MangList
                </h3>

                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <label class="form-label ms-1">Usuario: </label>
                    <input type="text" class="form-control form-control-m" placeholder="Usuario"
                      [ngClass]="validClasses(nameControl)" formControlName="name" required />
                    <div class="invalid-feedback" *ngIf="nameControl.errors?.['required']">
                      El usuario es necesario.
                    </div>
                  </div>
                </div>


                <div class="form-outline mb-4">
                  <label class="form-label ms-1">Email: </label>
                  <input type="text" class="form-control form-control-m" placeholder="email@gmail.com"
                    [ngClass]="validClasses(emailControl)" formControlName="email" required />
                  <div class="invalid-feedback" *ngIf="emailControl.errors?.['required']">
                    El email es necesario
                  </div>
                  <div class="invalid-feedback" *ngIf="emailControl.errors?.['email']">
                    El email tiene que tener el siguiente formato: usuario@mail.com
                  </div>
                </div>

                <div class="mb-3">
                  <label for="password">Contraseña:</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="************"
                    name="password" formControlName="password" [ngClass]="validClasses(passwordControl)" required />

                  <div class="invalid-feedback" *ngIf="passwordControl.errors?.['pattern']">
                    La contraseña tiene que tener almenos 8 caracteres y caracteres especiales como: ! @ # $ % & / ( ) =
                    + ? [ ] ~ – . ^
                  </div>
                  <div class="invalid-feedback" *ngIf="passwordControl.errors?.['required']">
                    La contraseña es necesaria.
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label for="password">Contraseña:</label>
                  <input type="password" class="form-control" id="password2" name="password2" placeholder="************"
                    name="password2" formControlName="password2" [ngClass]="validClasses(password2Control)" required />

                  <div class="invalid-feedback" *ngIf="password2Control.errors">
                    Las contraseñas no son iguales:
                  </div>
                </div>

                <div class="mb-3">
                  <label for="image">Avatar: </label>
                  <input accept="image/png,image/jpeg" type="file" class="form-control" id="avatar" name="avatar" formControlName="avatar" required
                    data-bs-toggle="modal" data-bs-target="#exampleModal" (change)="fileChangeEvent($event)"
                    formControlName="avatar" />
                  <div class="invalid-feedback" *ngIf="imageControl.errors?.['required']">
                    El avatar es necesario.
                  </div>
                </div>

                <img [src]="newUser.avatar" class="mb-3 mb-3 previewAvatar" *ngIf="!(newUser.avatar ==='')?'d-none':''" alt="avatar">

                <p class="text-danger" id="errorInfo">
                  <!-- La imagen es obligatoria. -->
                </p>

                <div class="d-flex justify-content-end pt-3 pulse">
                  <button type="reset" class="btn btn-light btn-m" style="
                          background-color: #060d17;
                          color: white;
                          font-weight: bold;
                          border-radius: 30px;
                          border: 0;
                          width: 50%;
                          -webkit-box-shadow: 0px 0px 25px 4px
                            rgba(6, 13, 23, 1);
                          -moz-box-shadow: 0px 0px 25px 4px rgba(6, 13, 23, 1);
                          box-shadow: 0px 0px 25px 4px rgba(6, 13, 23, 1);
                        " (click)="resetForm()">
                    Resetear
                  </button>
                  <button type="submit" class="btn btn-warning btn-m ms-2" style="
                          background-color: #a309cd;
                          color: white;
                          font-weight: bold;
                          border-radius: 30px;
                          border: 0;
                          width: 50%;
                          -webkit-box-shadow: 0px 0px 15px 4px
                            rgba(163, 9, 205, 1);
                          -moz-box-shadow: 0px 0px 15px 4px rgba(163, 9, 205, 1);
                          box-shadow: 0px 0px 15px 4px rgba(163, 9, 205, 1);
                        " [disabled]="userForm.invalid">
                    Enviar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- /Contendor principal -->


<!-- POPUP PARA EL AVATAR CROPPER -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">

      <div class="modal-body">

        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
          [roundCropper]=true format="png" (imageCropped)="imageCropped($event)"></image-cropper>

      </div>

      <div class="modal-footer">
        <button type=" button" class="btn btn-block btn-lg" style="
                  color: white;
                  background-color: #060d17;
                  border-radius: 30px;
                  border: 0;
                  width: 48%;
                " data-bs-dismiss="modal" (click)="closeModal()">
          Cerrar
        </button>
        <button type="button" class="btn btn-block btn-lg" style="
                  color: white;
                  background-color: #a309cd;
                  border-radius: 30px;
                  border: 0;
                  width: 48%;
                " data-bs-dismiss="modal" (click)="saveImage()">
          Guardar imagen
        </button>
      </div>
    </div>
  </div>
</div>
