footer{
  padding-right: 2%;
  background-color: #060d17 !important;

  border-top: 1px solid #23282E;
}

@media screen and (max-width: 530px) {
  footer{
    ul{
      padding-left: 1.3em;
    }
  }
}
